<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.travel.dao.FavoriteDAO">
    <insert id="add">
        insert into tab_favorite values(#{rid}, now(), #{uid})
    </insert>
    <delete id="remove">
        delete from tab_favorite where rid=#{rid} and uid=#{uid}
    </delete>
    <select id="findRidsByUid" parameterType="int" resultType="int">
        select * from tab_favorite where uid=#{uid}
    </select>
</mapper>

