<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.travel.dao.UserDao">
    <select id="findByUsername" resultType="cn.itcast.travel.domain.User" parameterType="String">
        select * from tab_user where username=#{username}
    </select>
    <insert id="save" parameterType="cn.itcast.travel.domain.User">
        insert into tab_user(username,password,name,birthday,sex,telephone,email,status,code) values(#{username},#{password},#{name},#{birthday},#{sex},#{telephone},#{email},#{status},#{code})
    </insert>
    <select id="findByCode" resultType="cn.itcast.travel.domain.User" parameterType="String">
        select * from tab_user where code = #{code}
    </select>
    <update id="updateStatus" parameterType="cn.itcast.travel.domain.User">
        update tab_user set status = 'Y' where uid=#{uid}
    </update>
    <select id="findByUsernameAndPassword" resultType="cn.itcast.travel.domain.User">
        select * from tab_user where username = #{name} and password = #{password}
    </select>
</mapper>